:root {
    --background: oklch(25.33% .016 252.42);
    --button: oklch(58% .233 277.117);
    --active: oklch(65% .241 354.308);
    --content: oklch(96% .018 272.314);
    --sub: oklch(29% .066 243.157);
    --size: 11;
}

body{
    background-color: var(--background);
    color: var(--accent);
    font-family: "Segoe UI", system-ui, sans-serif;
    margin:0;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

input{
    background-color: var(--content);
    border: 0px;
}

.ctrl-panel {
    background: var(--sub);
    color: var(--base);
    width: 100%;
    height: 100vh;
    padding:15px;
    display:flex;
    flex-direction:column;
    align-items:normal;
    justify-content: center;
    gap:10px;
    z-index:100;
}

@media screen and (max-width: 1200px) {
    body{
        flex-direction: column;
    }
    .ctrl-panel{
        height:auto;
    }
}

.ratio-inputs {
    display:flex;
    gap: 15px;
    align-items: center;
    color: var(--content)
}

.input-group {
    display:flex;
    flex-direction: column;
}

.num {
    border-bottom: 1px solid var(--background);
}

#grid {
    display:grid;
    grid-template-columns: repeat(var(--size), 70px);
    grid-template-rows: repeat(var(--size), 70px);
    gap:4px;
    padding:20px;
    user-select: none;
}

.cell {
    background: none;
    color: var(--content);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease;
    border: 1px solid var(--content);
}

.cell.active {
    background: var(--active);
    color: var(--content);
    font-weight: bold;
    transform: scale(0.96);
}

.ratio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.btn {
    padding: 10px 20px;
    background-color: var(--button);
    border: 1px solid var(--button);
    cursor: pointer;
    transition: 0.3s;
  }

  .btn.is-active {
    background-color: var(--active);
    color: var(--content);
  }
.ratio_n { font-size: 1.1rem; border-bottom:var(--content) 1px solid}
.ratio_d { font-size: 1.1rem; }
.legend { font-size: 0.8rem; color: var(--content); }